*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;

}
.bigcontainer{
    background-color:  hsl(217, 28%, 15%);
    overflow: hidden;
    font-family: raleway; 
    color: hsl(0, 0%, 100%);
}
.container{
    background-image: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom ;
    height: 150vh;

}
.navbar{
    display: flex;
    margin: 15px 60px;
    justify-content: space-between;
    padding: 20px;

}
.navbar img{
    height: 30px;
}
.navbar ul{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style: none;
    margin-bottom: 10px;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
}
.up{
    text-align: center; 
    margin:0  200px;
    font-size: 30px;
}
.up h2{
    width: auto;
}
.up p{
    margin: 20px 250px;
    font-size: 12px;

    /* width: 345;   */
}
.up img{
    height: 50vh;
    margin: 30px 0 ;
}
.up button{
    height: 40px;
    width: 150px;
    border-radius: 40px;
    border: none;
    background-color: hsl(198, 60%, 50%);
    color: white;
}
.cloud img{
    background-image: url(./images/bg-curvy-desktop.svg);
    height: 400px;
    width: 700px;
    /* margin-top: -300px; */
}
.center{
    background-color: hsl(218, 28%, 13%);
    font-size: 13px;
    margin-top: -50px;
    text-align: center;
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: 330px 330px;
    grid-template-rows: 200px 200px;
    justify-content: center;
    grid-row-gap: 30px;
}
.box2 img{
    height: 12vh;

}
.center img{
    margin-bottom: 10px;
} 
.center p{
    margin-top: 10px;
}
.child{
    background-color: hsl(218, 28%, 13%);
    /* overflow: hidden; */
    height: auto;
}
.center2{
    
    display: flex;
    gap: 50px;
    margin: 20px ;
}
.right{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    margin-right: 60px;
}
.right a{
    text-decoration:none ;
    font-size: 26px;
    color: paleturquoise;
    border-bottom: 1px solid paleturquoise;
    top: 10%;
}
.Q1{
    display: flex;
    gap: 5px;
}
.Q1 img{
    height: 30px;
    /* padding: 2px; */
    margin-top: 10px;
}
.left{
    margin-left: 30px;
}
.up03{
    margin-left: 100px;
}
.blocks{
    display: flex;
    gap: 35px;
    justify-content: center;
    margin: 10px 100px;
  
}
.block{
    background-color: hsl(217, 28%, 15%);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 2px  gray;
}
.profile{
    margin-top: 25px;
    display: flex;
    gap: 20px;
}
.avatar img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.center03{
    height: 70vh;

}
.items{
    padding: 20px;
    text-align: center;
    height: auto;
    background-color: hsl(219, 30%, 18%);
    margin: -90px 250px 0 ;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    flex-direction: column;
    box-shadow: 1px hsl(219, 30%, 18%);
    position: absolute;
}
.down{
    
    display: flex;
    justify-content: center;
    gap: 40px;
}
.down input{
    width: 400px;
    height: 30px;
    border: none;
    border-radius: 40px;

}
.down button{
    height: 30px;
    width: 150px;
    border-radius: 40px;
    border:  none;
    background-color: hsl(198, 60%, 50%);
    color: white;
}
.theend{
    background-color: hsl(216, 53%, 9%);
    overflow:hidden;
    font-family: raleway; 
    color: hsl(0, 0%, 100%);
}
.thelastone{
    display: flex;
    gap: 30px;
    margin: 30px 150px 0;
    margin-bottom: 50px;
}
.thelastone ul{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 10px;

}
.thelastone a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
.thelastone p{
    width: 400px;
}
.thelastone img{
    height: 25px;
    height:25px;
}
.down2{
    margin-top: 130px;
}
#W1{
    margin-left: 150px;
}
